#content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    font-size: 24px;
    background-color: #cbadcb;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.header p {
    width: 100px;
    background-color: #c5c1c5;
    text-align: center;
    padding: 1rem;
}

.header p:hover {
    background-color: #ffffff;
}

.bgimage {
    margin: 70px 20vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgimage * {
    width: 640px;
}

.card {
    padding: 0 50px;
    text-align: center;
    font-size: 16px;
}